<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wedding Plan</title>
</head>
<body>
  @model Hobby
  <div>
    <h1>Create a Hobby</h1>
    <form action="/newhobby" method="POST">
    <span asp-validation-for="Name"></span>
      <p>Name<input type="text" asp-for="Name"></p>
      <span asp-validation-for="Description"></span>
      <p>Description<input type="textarea" asp-for="Description"></p>
      <input type="submit" value="Create">
    </form>
  </div>
</body>
</html>