<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Idea View</title>
</head>
<body>
  @model Hobby
  <div>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
  </div>
  <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">@Model.Name Enthusiasts:</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var i in ViewBag.OneHobby.userhobbies){
            <tr>
              <td>@i.User.FirstName</td>
            </tr>
          }
      </tbody>
    </table>
    <form action="/add/@Model.HobbyId" method="POST">
      <input type="submit" value="Add to Hobbies">
    </form>
  </div>
</body>
</html>






